.cards {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 20px;
}
.card-white {
    background-color: white;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 5px 5px 6px 2px black;
    
}
.card-white img{
    width: 30%;
    display: flex; 
    justify-content: center;
    margin: auto;
}
.card-white {
    align-items: center;
}
